<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MPTCP Desk</string>
	<key>CFBundleExecutable</key>
	<string>MPTCPDesk</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>org.mptcp.desktop</string>
	<key>CFBundleName</key>
	<string>MPTCP Desk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>35</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MPTCP Desk contributors</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/Dsd1001/mptcp-userspace/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2ADwJkrQ2XxjFo4bC3mjQkxjGBpsj3hfP7JTV0wdtek=</string>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
</dict>
</plist>
